name: build
on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    # every day at 6am & 6pm pacific
    - cron: "0 1,13 * * *"
jobs:
  build:
    strategy:
      matrix:
          os: [ubuntu-latest, macos-12]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - uses: azure/setup-kubectl@7f7e5ba5ea3e491b92e6e8e5819963f8f3a1f076
      - uses: medyagh/setup-minikube@latest
      - name: install tools for mac os
        if: matrix.os == 'macos-12'
        shell: bash
        run: |
          brew install docker-machine docker
          sudo docker --version
          sysctl hw.physicalcpu hw.logicalcpu 
          sudo /usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate off
          sudo /usr/libexec/ApplicationFirewall/socketfilterfw -k

      - name: Build Docker images inside minikube
        run: | 
          eval $(minikube docker-env)
          docker build -t local/devex:v1 .
      - name: Deploy to to Kubernetes 
        run: | 
          kubectl apply -f deploy/k8s.yaml 
      - name: Verify Deployment
        run: | 
          minikube service list
          minikube service local-devex-svc --url --wait=10
          kubectl get pods -A
          kubectl wait --for=condition=ready pod -l app=local-devex
          curl -vvv $(minikube service local-devex-svc --url)
